body{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #4C5454;

    display: grid;
    width: 100%;
    grid-template-areas: "entete entete"
    "navigation navigation" 
    "principale liens"
    "pied pied";
    grid-template-rows: 150px 40px minmax(400px, auto) auto;
    grid-template-columns: 1fr 25%;
}

img#hamburger{
    width: 80px;
    float: right;
}

header{
    grid-area: entete;
    background-color: #FF715B;
    color: white;
}

header h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

nav{
    grid-area: navigation;
    background-color: #FF715B;
    padding: 0px 20px 0px 20px;
    color: white;
}

nav p{
    grid-area: principale;
    margin: 10px;
}

nav span{
    cursor: pointer;
    padding: 0px 30px 0px 30px;
    font-size: 20px;
    text-align: center;
}

nav span:hover{
    border-bottom: 2px solid white;
    transition-duration: 0.3s;
}

section#cv{
    padding: 10px;
}

aside{
    grid-area: liens;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    color: black;
    background: linear-gradient(#FF715B, white, #FF715B);
    border-radius: 10px;
}

footer{
    grid-area: pied;
    background-color: #FF715B;
    color: white;
    text-align: center;
}

footer h1{
    font-size: 22px;
}

footer:link{
    color: white;
}

h1{
    font-size: 22px;
    padding-left: 20px;
}

h2{
    font-size: 20px;
    padding-left: 50px;
}

p{
    margin-left: 50px;
}

#presentation{
    margin-left: 50px;
}

img{
    float: right;
    width: 400px;
}

#liste table{
    border-collapse: collapse;
    width: 400px;
    margin: 50px;
}

#liste tr,td{
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(2n) 
{background-color: #F2F2F2;}

#liste tr:hover{
    background-color: #DDDDDD;
}

#liste th{
    padding: 12px 8px 20px 8px;
    text-align: left;
    background-color: #ff715b;
    color: white;
}

section#message{
    width: 400px;
    margin: 100px auto 0px auto;

}

section#message label,input,select{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: #4C5454;
    font-size: 16px;
}

section#message input,select{
    background-color: #FF715B;
    border: 1px solid  #4C5454;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
}

section#message label, #submit{
    margin-top: 15px;
    margin-bottom: 15px;

}

@media screen  and (orientation: portrait){
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px auto auto auto;
    }

    aside{
        display: none; 
    }

    img#armand{
        display: block;
        width: 80%;
        margin: 5px auto 5px auto;
        float: none;
    }

    section{
        margin: 0px;
        padding: 10px 5px 10px 5px;
    }

    section#presentation h1,h2,p{
        margin: 0px;
    }

    section#presentation ul,ol{
        padding-left: 25px;
    }


    #liste table{
        width: 100%;
        margin: 0px;
    }


    section#message{
        width: 300px;
        margin: 0px auto 0px auto;
    
    }

}